################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ProjectSettings.json

C:\Users\jesse\OneDrive\Desktop\coding\C#\SplatDemo\.vs\SplatDemo\v16